.usersTable {
  thead tr th {
    padding: 15px 25px;
    background: #171717;
    text-align: left;
    color: #fff;

    &:first-child {
      width: 450px;
    }

    &:nth-child(2), &:nth-child(3) {
      width: 300px;
    }

    &:last-child {
      width: 100px;
    }
  }

  tbody tr td {
    padding: 12px 25px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #171717;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      border-left: 1px solid #171717;
    }

    &:last-child {
      overflow: visible;
      text-align: center;
      border-right: 1px solid #171717;
    }
  }
}
