@import "src/assets/styles/variables";

.search {
  max-width: 666px;
  height: 36px;
  border: 1px solid $dark_300;
  margin-top: 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  // ::placeholder {
  // padding-bottom: 7px;
  //}
  .searchIcon {
    margin-left: 10px;
    margin-right: 10px;
  }
}
