@import "src/assets/styles/variables.scss";

.wrapperSelect {
  margin: -2px 0 48px 94px;
  width: 234px;

  .select {
    background: inherit;
    color: #BDC1C7;
    border: 1px solid $dark_300;
    height: 40px;

    //.select-icon {
    //  color: white;
    //}
    &:focus {
      border: 1px solid $dark_300;
    }
  }
}
