.paymentsTable {
  thead tr th {
    padding: 15px 25px;
    background: #171717;
    text-align: left;
    color: #fff;
  }

  tbody tr td {
    padding: 15px 25px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #171717;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}